<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Employers</title>
  </head>
  <body>
    <h1>Employers</h1>
    <table>
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Website</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="employer, iStat:${employers}">
          <th th:text="${iStat.index} +1"></th>
          <td>
            <a
              th:href="|employer/${employer.id}|"
              th:text="${employer.name}"
            ></a>
          </td>
          <td>
            <a
              th:href="${employer.website}"
              th:text="${employer.website}"
              target="_blank"
            ></a>
          </td>
          <td th:text="${employer.email}"></td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
