<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head th:replace="~{fragments/course-admin-fragments :: head('Danh sách khóa học')}">
</head>

<body>
<!--HEADER-->
<div th:replace="~{fragments/course-admin-fragments :: header}"></div>

<!-- BODY -->
<div class="course-list mt-4 mb-4">
    <div class="container">
        <div class="mb-4">
            <a th:href="@{/admin/courses/course-create}" class="btn-custom btn-create-course">
                <span><i class="fa-solid fa-plus"></i></span>
                Tạo khóa học
            </a>
            <a th:href="@{/admin/courses}" class="btn-custom btn-refresh">
                <span><i class="fa-solid fa-arrow-rotate-right"></i></span>
                Refresh
            </a>
        </div>

        <div class="course-list-inner p-2">
            <table class="table course-table">
                <thead>
                <tr>
                    <th>STT</th>
                    <th>Tên khóa học</th>
                    <th>Hình thức</th>
                    <th>Chủ đề</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="course, iStat : ${courses}">
                    <td th:text="${iStat.index + 1}">1</td>
                    <td>
                        <a th:text="${course.name}" th:href="@{|/admin/courses/${course.id}/course-edit|}">SpringBoot -
                            Web Back End</a>
                    </td>
                    <th:block th:if="${course.type == 'onlab'}">
                        <td th:text=${course.type} class="text-info">onlab</td>
                    </th:block>
                    <th:block th:if="${course.type == 'online'}">
                        <td th:text=${course.type} class="text-warning">online</td>
                    </th:block>
                    <td th:text="${courseService.showTopics(course)}">backend, cơ sở dữ liệu, lập trình web</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- jQuery -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<!-- axios -->
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</body>

</html>