<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Management</title>
  </head>

  <body>
    <h1>Home page</h1>

    <th:block th:if="${user != null}">
      <a href="/logout" th:text="|Logout as ${user.fullName}|">Logout</a>
      <a href="/admin">Admin</a>
    </th:block>

    <th:block th:if="${user == null}">
      <a href="/login">Login</a>
      <a href="/register">Register</a>
    </th:block>
  </body>
</html>
