<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Management</title>
  </head>
  <body>
    <h1>Login</h1>
    <form
      method="post"
      action="#"
      th:action="login"
      th:object="${loginRequest}"
    >
      Email: <input type="text" th:field="*{email}" />
      <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
      <br />
      Password: <input type="password" th:field="*{password}" />
      <div
        th:if="${#fields.hasErrors('password')}"
        th:errors="*{password}"
      ></div>
      <br />
      <button type="submit">Login</button>
    </form>
  </body>
</html>
