* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

html {
}

body {
}

.w100pc {
  width: 100%;
}

.h100pc {
  height: 100%;
}

.container {
  width: 1140px;
  margin-left: auto;
  margin-right: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.row > * {
  flex-grow: 0;
  flex-shrink: 1;
}

.col-1 {
  flex-basis: 8.333333%;
}

.col-2 {
  flex-basis: 16.666666%;
}

.col-3 {
  flex-basis: 25%;
}

.col-4 {
  flex-basis: 33.333333%;
}

.col-5 {
  flex-basis: 41.666666%;
}

.col-6 {
  flex-basis: 50%;
}

.col-7 {
  flex-basis: 58.333333%;
}

.col-8 {
  flex-basis: 66.666666%;
}

.col-9 {
  flex-basis: 75%;
}

.col-10 {
  flex-basis: 83.333333%;
}

.col-11 {
  flex-basis: 91.666666%;
}

.col-12 {
  flex-basis: 100%;
}

.offset-1 {
  margin-left: 8.333333%;
}

.offset-2 {
  margin-left: 16.666666%;
}

.offset-3 {
  margin-left: 25%;
}

.offset-4 {
  margin-left: 33.333333%;
}

.offset-5 {
  margin-left: 41.666666%;
}

.offset-6 {
  margin-left: 50%;
}

.flex {
  display: flex;
  flex-direction: row;
}

.flex.wrap {
  flex-wrap: wrap;
}

.flex.column {
  flex-direction: column;
}

.align-items-center {
  align-items: center;
}

.align-items-end {
  align-items: flex-end;
}

.align-content-center {
  align-content: center;
}

.align-content-between {
  align-content: space-between;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-end {
  justify-content: flex-end;
}

/* Custom CSS */
.header {
}

.logo-wrapper {
  width: 285px;
  padding: 0 15px;
}

.header-menu {
  padding: 0 15px;
}

.header-menu .menu-item {
}

.header-menu .menu-item .menu-link {
  text-transform: uppercase;
  text-decoration: none;
  vertical-align: text-bottom;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #263a41;
  padding: 0 20px;
  line-height: 27px;
}

.banner {
  /* position: relative; */
  padding-top: 90px;
  padding-bottom: 162px;
  background-image: url(https://demo.themeies.com/leospa/images/leaf.png);
  background-repeat: no-repeat;
  background-origin: padding-box;
  background-position-x: 0%;
  background-position-y: 50%;
  background-size: 12.5%;
}

.banner-right-img {
  width: 585px;
  height: 625px;
  position: absolute;
  top: 0;
  right: 0;
}

.banner-content {
  padding: 0 15px;
}

.banner-top-line {
  margin-bottom: 20px;
}

.banner-top-line p {
  text-transform: uppercase;
  font-family: Rufina, sans-serif;
  font-size: 15px;
  color: #ff817e;
  letter-spacing: 1.5px;
}

.banner-slogan {
  margin-bottom: 25px;
}

.banner-slogan h2 {
  font-family: Rufina, sans-serif;
  font-size: 60px;
  color: rgb(30, 37, 40);
}

.banner-bottom-line {
  margin-bottom: 50px;
}

.banner-bottom-line p {
  font-family: Roboto, sans-serif;
  font-size: 15px;
  color: #555555;
  line-height: 27px;
  font-weight: lighter;
}

.banner-buttons {
}

.banner-buttons .reverse-button {
  background-color: rgb(255, 129, 126);
  color: white;
  padding: 20px 15px;
  text-transform: uppercase;
  text-decoration: none;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  display: inline-block;
  width: 168px;
  text-align: center;
  line-height: 0.8;
}

.banner-buttons .video-button {
  width: 44px;
  height: 44px;
  background-color: #fcf5ee;
  border-radius: 50%;
  margin-left: 15px;
  margin-right: 15px;
}

.banner-buttons .video-link {
  text-decoration: none;
  font-family: Roboto, sans-serif;
  font-size: 15px;
  color: rgb(85, 85, 85);
}

.about {
  padding: 50px 0;
  position: relative;
}

/* .about > .row {
  position: absolute;
} */

.about-flower-1 {
  position: absolute;
  top: 0;
  left: 16%;
}

.about-flower-2 {
  position: absolute;
  right: 135px;
  top: 50%;
}

.about-logo {
  margin-bottom: 40px;
}

.about-top-line {
  margin-bottom: 27px;
}

.about-top-line p {
  font-family: Roboto, sans-serif;
  font-size: 20px;
  color: #888888;
  text-transform: uppercase;
  text-align: center;
}

.about-slogan {
  margin-bottom: 32px;
}

.about-bottom-line p {
  font-family: Roboto, sans-serif;
  font-size: 15px;
  color: #888888;
  text-align: center;
  line-height: 27px;
  width: 920px;
}

.about-slogan h2 {
  font-family: Rufina, sans-serif;
  font-size: 42px;
  color: #1e2528;
  text-align: center;
}

.about-button {
  margin-top: 70px;
}

.about-button .button-link {
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  background-color: #ff817e;
  padding: 20px 15px;
  border-radius: 50px;
  display: inline-block;
  width: 170px;
  text-align: center;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: bold;
}

.service {
  padding: 50px 0;
}

.service-images {
  margin-left: -2.5px;
  margin-right: -2.5px;
}

.service-img {
  padding: 0 2.5px;
  width: 100%;
}

.procedures,
.blog {
  padding: 50px 0;
}

.procedures-heading,
.blog-heading,
.contact-heading {
  color: #1e2528;
  font-family: Rufina, sans-serif;
  font-size: 42px;
  margin-bottom: 32px;
  text-align: center;
}

.procedures-paragraph,
.blog-paragraph,
.contact-paragraph {
  color: #888;
  font-family: Roboto, sans-serif;
  font-size: 15px;
  width: 730px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 80px;
  font-weight: lighter;
}

.procedures-img-block,
.blog-img-block {
  border: 1px solid #e3e6ea;
  padding: 20px;
  width: 350px;
  margin: 0 15px;
}

.procedure-img,
.blog-img {
  margin-bottom: 35px;
}

.procedures-img-block-heading,
.blog-img-block-heading {
  color: #263a41;
  font-family: Rufina, sans-serif;
  font-size: 22px;
  margin-bottom: 22px;
  text-transform: capitalize;
}

.procedures-img-block-paragraph,
.blog-img-block-paragraph {
  color: #6c6c6f;
  font-family: Roboto, sans-serif;
  font-size: 15px;
  margin-bottom: 39px;
  text-align: center;
  line-height: 27px;
}

.procedures-img-block-button,
.blog-img-block-button {
  margin-bottom: 30px;
}

.procedures-img-block-button .button-link,
.blog-img-block-button .button-link {
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  background-color: #30383b;
  padding: 15px;
  border-radius: 50px;
  display: inline-block;
  width: 170px;
  text-align: center;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: bold;
}

.testimonial {
  background-color: #fff9f8;
  padding: 50px 0;
}

.testimonial .quote-image {
  margin-bottom: 45px;
}

.testimonial-paragraph {
  margin-bottom: 43px;
  color: #263a41;
  font-family: Rufina, serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 35px;
  text-align: center;
}

.testimonial .client-info {
  width: 100%;
}

.testimonial .client-image {
  margin-bottom: 22px;
}

.testimonial .client-image img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
}

.testimonial .client-name {
  margin-bottom: 30px;
}

.testimonial .client-name p {
  color: #263a41;
  font-family: Rufina, serif;
  font-size: 22px;
  line-height: 35px;
  text-align: center;
}

.testimonial .client-name p span {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
}

.testimonial .two-dots .dot {
  background-color: #ffc3c2;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  border: 0px none;
  margin: 0 3px;
}

.team {
  padding: 50px 0;
}

.team-top {
  height: 137px;
  margin-bottom: 70px;
}

.team-heading {
  color: #1e2528;
  font-size: 42px;
  font-family: Rufina, serif;
  text-align: center;
  margin-bottom: 32px;
}

.team-paragraph {
  color: #888888;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 27px;
  margin-bottom: 15px;
  text-align: center;
  width: 730px;
}

.team-image {
  padding: 0 15px;
  /* padding-bottom: 30px; */
}

.team-image img {
  /* margin-bottom: 30px; */
}

.team-image h3 {
  color: #263a41;
  font-size: 22px;
  font-family: Rufina, serif;
  text-align: center;
}

.team-image p {
  color: #6c6c6f;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 27px;
  margin-bottom: 15px;
  text-align: center;
}

.team-detail {
  padding: 30px;
  width: 290px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 5px 20px #f0f0f0;
}

.appointment {
  padding: 50px 0;
}

.appointment-form {
  padding-left: 100px;
  padding-right: 50px;
  background-color: #fff9f8;
  height: 100%;
}

.appointment-form form {
  height: 100%;
}

.appointment-form form > .row {
  height: 100%;
}

.appointment-form .appointment-input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #d4d3d3;
  color: #999;
  display: block;
  font-size: 12px;
  font-weight: 400;
  padding: 10px 0;
  margin-bottom: 30px;
  width: 100%;
  text-transform: uppercase;
}

.appointment-form .appointment-input::placeholder {
  font-size: 12px;
}

.appointment-form .appointment-input.normal-text {
  text-transform: none;
}

.appointment-col {
  padding: 0 5px;
}

.appointment-form textarea {
  height: 75px;
}

.form-button {
  background-color: #ff817e;
  border-radius: 0;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 0.8;
  text-transform: uppercase;
  min-width: 170px;
  padding: 20px 15px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  border-radius: 50px;
  border: 0 none;
}

.contact {
  padding: 50px 0;
}

.contact-side .item {
  margin-bottom: 16px;
}

.contact-side p {
  color: #888;
  font-size: 14px;
  font-weight: 400;
  font-family: Roboto, sans-serif;
}

.contact-bottom {
  width: 950px;
  margin-left: auto;
  margin-right: auto;
}

.contact-input {
  border: 1px solid #e3e6ea;
  padding: 10px 20px;
  margin-bottom: 25px;
  width: 100%;
  font-family: Roboto, sans-serif;
  font-size: 15px;
  line-height: 27px;
}

textarea.contact-input {
  height: 76px;
}

textarea {
  resize: none;
}

.footer {
  padding-top: 80px;
  padding-bottom: 60px;
  background-color: #fff9f8;
}

.footer-logo {
  margin-bottom: 40px;
}

.footer-logo img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.footer-menu {
  margin-bottom: 40px;
}

.footer-menu .menu-link {
  text-transform: uppercase;
  text-decoration: none;
  color: #263a41;
  font-size: 14px;
  font-family: Roboto, sans-serif;
  font-weight: bold;
  padding: 0 20px;
}

.footer-socials {
  color: #3a414e;
  margin-bottom: 30px;
}

.footer-socials i {
  padding: 0 10px;
  color: #333;
}

.copyright {
  text-transform: uppercase;
  font-family: Roboto, sans-serif;
  font-size: 13px;
  color: #888888;
  text-align: center;
}

.copyright a {
  color: #ff817e;
  text-decoration: none;
}
