<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add new employer</title>
  </head>
  <body>
    <h1>Add new employer</h1>
    <form
      action="#"
      th:action="@{/employer/add}"
      method="post"
      enctype="multipart/form-data"
      name="employer"
      th:object="${employer}"
    >
      Name
      <input
        type="text"
        class="form-control"
        autocomplete="off"
        th:field="*{name}"
      />
      <br />
      <br />
      Website
      <input
        type="text"
        class="form-control"
        autocomplete="off"
        th:field="*{website}"
      />
      <br />
      <br />
      Email
      <input
        type="email"
        class="form-control"
        autocomplete="off"
        th:field="*{email}"
      />
      <br />
      <br />
      Logo
      <input
        type="file"
        class="form-control"
        autocomplete="off"
        th:field="*{logo}"
      />
      <br />
      <br />
      <button class="btn btn-primary mt-3">Save</button>
    </form>
  </body>
</html>
