* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.flex {
  display: flex;
}

.row {
  display: flex;
  width: 100%;
}

.justify-content-center {
  display: flex;
  justify-content: center;
}

body {
  background-color: rgb(218, 218, 218);
}

li {
  list-style: none;
  background-color: rgb(218, 218, 218);
  margin-top: 5px;
  margin-bottom: 5px;
}

.container {
  width: 400px;
  padding: 16px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border-radius: 5px;
}

h2 {
  text-align: center;
  padding: 5px;
}

p {
  padding: 5px;
}

input {
  padding: 5px;
  margin-bottom: 5px;
}

select {
  padding: 5px;
  margin-bottom: 5px;
}

button {
  padding: 5px;
}

.input-label {
  font-weight: bold;
}

input.invalid {
  box-shadow: 0 0 0 2px red;
}

input.invalid + .invalid-feedback {
  display: block;
}

.invalid-feedback {
  display: none;
}
